* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}
.container {
  width: 100%;
  /* margin: auto;
  max-width: 1000px; */
}
.section-header {
  width: 80%;
  padding: 0 5%;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  padding: 1% 10%;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
}
#landing {
  height: 100vh;
  /* background-image: url(https://picsum.photos/1100/900?random=1); */
  background-color: #18182f;

  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #18182f;
}

#landing .container-l p {
  font-size: 24px;
  font-weight: bold;
}
#landing .container-l h1 {
  font-size: 80px;
  font-weight: 900;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 157px;
}

#project {
  /* height: 102vh; */
  padding: 5% 10%;
  background-color: #121231;
}
/* .project-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} */
/* .card-img-top {
  width: 400px;
  height: 200px;
} */  
.card-title{
  color: black;
}

.project-card-pro{
  margin-bottom: 10px;
  background-color: #121231;
  box-shadow: #141327;
}

/* .bg-body {
  --bs-bg-opacity: 0.7;
  /* background-color:; */


#about {
  /* height: 86vh; */
  padding: 5% 10%;
  background-color: #18182f;
}
.border {
  border-radius: 5px;
  padding: 25px;
  margin-right: 5%;
  background: #0e139a;
  box-shadow: inset 35px 35px 70px #0a55c3, inset -35px -35px 70px #1087ff;
  /* height: fit-content; */
  /* width: fit-content; */
  width: 50%;
}
.img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.container-p {
  display: flex;
}
.h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
.h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.p {
  font-size: 18px;
  margin-bottom: 30px;
}
.content-details {
  display: flex;
}
.details-left {
  padding-right: 10px;
}
#resume {
  /* height: 137vh; */
  padding: 5% 10%;
  background-color: #121231;
}
.container-res {
  display: flex;
  justify-content: space-between;
}
.card-res {
  width: 600px;
  padding: 30px;
  max-width: 95%;
  min-height: 300px;
  margin-bottom: 20px;
  border: solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-title-res{
  color: white;
}

.container {
  justify-content: space-between;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}
.card-skills {
  margin-right: 20px;
  border: solid;
  padding: 10px;
  margin: 25px;
}

.card-text {
  display: flex;
  justify-content: center;
}
.fa-brands {
  font-size: 5rem;
  display: flex;
  justify-content: center;
}

#testimonial {
  /* height: 59vh; */
  padding: 5% 10%;
  background-color: #18182f;
}
.tes-img {
  width: 50px;
  height: 50px;
}
.owl-carousel button.owl-dot {
  background: white;
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  background: white;
  width: 10px;
  border-radius: 50%;
  height: 10px;
}
.owl-dots {
  /* background: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
button.owl-dot.active {
  background: #6449e7;
}
#contact {
  /* height: 60vh; */
  padding: 5% 10%;
  background-color: #121231;
}
.form-and-details-container-fliud {
  display: flex;
}
.form-container {
  padding: 12px;
}

form {
  border: solid;
  padding: 10px;
}

input {
  border: none;
  border-bottom: solid black;
  background-color: transparent;
  margin: 5px;
}

textarea.form-control {
  border: none;
  border-bottom: solid;
  margin-bottom: 10px;
  background-color:  transparent ;
}

.owl-carousel .owl-item img {
  border-radius: 50%;
}

.bi {
  display: flex;
  align-items: center;
}
/* .i {
  border: solid 5px;
  border-radius: 50%;
} */
.rounded-circle {
  height: 27px;
  width: 18px;
  font-size: 31px;
}
.m:hover {
  background: #0a55c3;
}
li.m {
  border-radius: 50%;
}
.o {
  background-color: #0d6efd;
}
.y {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: #18182f;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
@media screen and(max-width:1170px) {
  #container-p {
    padding: 10%;
    display: flex;
    flex-direction: column;
  }
}
