body {
  font-family: "Poppins", sans-serif;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  padding: 1% 10%;
  align-items: center;
  justify-content: space-between;
}
#landing {
  height: 100vh;
  background-image: url(https://picsum.photos/1100/900?random=1);
  background-size: cover;
  background-position: center;
  position: relative;
}
.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}

#project {
  height: 164vh;
  padding: 5% 10%;
}
.project-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card-img-top {
  width: 400px;
  height: 200px;
}

#about {
  height: 118vh;
  padding: 5% 10%;
}
.border {
  border-radius: 5px;
  padding: 25px;
  margin-right: 5%;
  background: #0e139a;
  box-shadow: inset 35px 35px 70px #0a55c3, inset -35px -35px 70px #1087ff;
  height: fit-content;
  width: fit-content;
  width: 50%;
}
.img {
  border-radius: 5px;
  height: 700px;
  width: 333px;
  object-fit: cover;
}

.container-p {
  display: flex;
}
.h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
.h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.p {
  font-size: 18px;
  margin-bottom: 30px;
}
.content-details {
  display: flex;
}
.details-left {
  padding-right: 10px;
}
#resume {
  height: 179vh;
  padding: 5% 10%;
}
.container-res {
  display: flex;
  justify-content: space-between;
}
.card-res {
  width: 600px;
  padding: 30px;
  max-width: 95%;
  min-height: 300px;
  margin-bottom: 20px;
  border: solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}
.card-skills {
  margin-right: 20px;
  border: solid;
}

.fa-brands {
  font-size: 5rem;
  display: flex;
  justify-content: center;
}

#testtimonial {
  height: 100vh;
  padding: 5% 10%;
}

#contact {
  height: 100vh;
  padding: 5% 10%;
}
.form-and-details-container-fliud {
  display: flex;
}
.bi {
  display: flex;
  align-items: center;
}
.i {
  border: solid 5px;
  border-radius: 50%;
}
.rounded-circle {
  height: 27px;
  width: 18px;
  font-size: 31px;
}
.m:hover {
  background: #0a55c3;
}
li.m {
  border-radius: 50%;
}
.o {
  background-color: #0d6efd;
}
.y {
  display: flex;
  flex-direction: column;
}
